<!-- <div>
<!--  <img src="/assets/img/users.png" id="icon" alt="User Icon" />-->
<!--</div>-->
<form class="shipping-card  " #form="ngForm" [formGroup]="empForm" (ngSubmit)="onSubmit(form.form)">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--      Emm ID-->
      <div class="row">
        <div class="col">
          <br>
          <!-- <mat-form-field class="full-width">
    
                <input matInput type="text" #empid="ngModel" [(ngModel)]="userService.selectedEmployee.empid" name="empid"
                  placeholder="Emp ID"   
                  [ngClass]="{'invalid-textbox' :empForm.submitted && !empid.valid }">
                <mat-error *ngIf="empForm.submitted && empid.errors">
                  <label *ngIf="empid.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="empid.errors.pattern" class="validation-message">Invalid email address.</label>
                </mat-error>
              </mat-form-field> -->
        </div>
      </div>
      <!--      full name (firstname-address-->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="firstName" type="text" name="firstName" placeholder="First Name" required>
            <!-- [ngClass]="{'invalid-textbox' :empForm.submitted && !firstName.valid }"> -->
            <!-- <mat-error *ngIf="empForm.submitted && !firstName.valid"> -->
            <!-- <label class="validation-message">This field is required.</label> -->
            <!-- </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
  
            <input matInput formControlName="lastName" type="text" name="lastName" placeholder="Last Name" required>
            <!-- [ngClass]="{'invalid-textbox' :empForm.submitted && !lastName.valid }"> -->
            <!-- <mat-error *ngIf="empForm.submitted && !lastName.valid">
                  <label class="validation-message">This field is required.</label>
                </mat-error> -->
          </mat-form-field>
        </div>
      </div>
  
      <!--      Password -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
  
            <input matInput formControlName="mobile" type="text" name="mobile" placeholder="Mobile Number" minlength="10"
              maxlength="13" required>
            <!-- [ngClass]="{'invalid-textbox' :empForm.submitted && !mobile.valid }"> -->
            <!-- <mat-error *ngIf="empForm.submitted && mobile.errors">
                  <label *ngIf="mobile.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="mobile.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
                </mat-error> -->
  
          </mat-form-field>
        </div>
      </div>
  
  
      <!--      address -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
  
            <textarea matInput formControlName="address" type="text" name="address" placeholder="Full Address" required>
              </textarea>
                  <!-- [ngClass]="{'invalid-textbox' :empForm.submitted && !address.valid }"></textarea> -->
            <!-- <mat-error *ngIf="empForm.submitted && !address.valid">
                  <label class="validation-message">This field is required.</label>
                </mat-error> -->
          </mat-form-field>
        </div>
      </div>
  
      <!--      DOB-->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
  
  
            <input matInput formControlName="dob" type="date" name="dob" placeholder="Date of Birth " required>
            <!-- [ngClass]="{'invalid-textbox' :empForm.submitted && !dob.valid }"> -->
            <!-- <mat-error *ngIf="empForm.submitted && !dob.valid">
                  <label class="validation-message">This field is required.</label>
                </mat-error> -->
          </mat-form-field>
        </div>
        <!--      city-->
        <div class="col">
          <mat-form-field class="full-width">
  
            <input matInput formControlName="city" type="text" name="city" placeholder="City Name" required>
            <!-- [ngClass]="{'invalid-textbox' :empForm.submitted && !city.valid }"> -->
            <!-- <mat-error *ngIf="empForm.submitted && !city.valid">
                  <label class="validation-message">This field is required.</label>
                </mat-error> -->
  
  
          </mat-form-field>
        </div>
  
      </div>
  
  
  <!--   </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </form>
   -->  
  
  
  
  
  
  
  
  