<!--<div>-->
<!--  <img src="/assets/img/users.png" id="icon" alt="User Icon" />-->
<!--</div>-->
<form #signupForm="ngForm" (ngSubmit)="signupForm.valid && onSubmit(signupForm)">
  <mat-card class="shipping-card mat-elevation-z6">
    <mat-card-header>
      <mat-card-title class="textcenter">Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--      Email-->
      <div class="row">
        <!-- <div fxLayout="row" fxLayout.xs="column">  -->
        <div class="col">
          <mat-form-field class="full-width">

            <input matInput type="text" #email="ngModel" [(ngModel)]="userService.selectedManager.email" name="email"
              placeholder="Email ID" required [pattern]="emailRegex"
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !email.valid }">
            <mat-error *ngIf="signupForm.submitted && email.errors">
              <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!--      full name (firstname-address-->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" #firstName="ngModel" [(ngModel)]="userService.selectedManager.firstName"
              name="firstName" placeholder="First Name" required
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !firstName.valid }">
            <mat-error *ngIf="signupForm.submitted && !firstName.valid">
              <label class="validation-message">This field is required.</label>
            </mat-error>
          </mat-form-field>
        </div></div>
      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">

            <input matInput type="text" #lastName="ngModel" [(ngModel)]="userService.selectedManager.lastName"
              name="lastName" placeholder="Last Name" required
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !lastName.valid }">
            <mat-error *ngIf="signupForm.submitted && !lastName.valid">
              <label class="validation-message">This field is required.</label>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
 
      <!--      Password -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">

            <input matInput type="password" #password="ngModel" [(ngModel)]="userService.selectedManager.password"
              name="password" placeholder="Password" minlength="4" required
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !password.valid }">
            <mat-error *ngIf="signupForm.submitted && password.errors">
              <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
            </mat-error>

          </mat-form-field>
        </div>
      </div>


      <!--      address -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">

            <textarea matInput type="text" #address="ngModel" [(ngModel)]="userService.selectedManager.address"
              name="address" placeholder="Full Address" required
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !address.valid }"></textarea>
            <mat-error *ngIf="signupForm.submitted && !address.valid">
              <label class="validation-message">This field is required.</label>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!--      DOB-->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">


            <input matInput type="date" #dob="ngModel" [(ngModel)]="userService.selectedManager.dob" name="dob"
              placeholder="Date of Birth " required
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !dob.valid }">
            <mat-error *ngIf="signupForm.submitted && !dob.valid">
              <label class="validation-message">This field is required.</label>
            </mat-error>
          </mat-form-field>
        </div>
        </div>
        
        <div class="row">

        <!--      Company-->
        <div class="col">
          <mat-form-field class="full-width">

            <input matInput type="text" #company="ngModel" [(ngModel)]="userService.selectedManager.company"
              name="company" placeholder="Company Name" required
              [ngClass]="{'invalid-textbox' :signupForm.submitted && !company.valid }">
            <mat-error *ngIf="signupForm.submitted && !company.valid">
              <label class="validation-message">This field is required.</label>
            </mat-error>


          </mat-form-field>
        </div>

      </div>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!signupForm.valid " type="submit">Registration</button>
    </mat-card-actions>
  </mat-card>
</form>