.mayhight{
    width: 98%;
    margin: 12px;
}
table {
    width: 100%;
     
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .nodata {
    margin-top: 25px;
    font-size: 25px;
   text-align:center;
    width: 100%;
  }
/*   
  td, th {
    width: 25%;
  } */
  